.section-container {
    max-width: 65%;
    border-right: 1px solid #ddd;
}
.article-part1 .articles {
    margin: 0 60px 0 100px;
    display: flex;
}

.article-part1 .art-card {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.art-card a{
    text-decoration: none;
    color: black;
}

.art-card h4 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.art-date {
    font-size: 12px;
    color: #d33;
    margin-bottom: 15px;
}

.art-image {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.art-descr p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
    line-height: 1.6;
}

.art-card span {
    font-size: 14px;
    color: #d33;
    font-weight: bold;
    cursor: pointer;
}
/* partie article 2 */
.article-part2 .articles {
    margin: 0 60px 0 100px;
    display: flex;
    gap: 40px;
}

.article-part2 {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.article-part2 .art-card {
    border-bottom: 1px solid #ddd;
    padding-bottom: 50px;
}

.article-part2 .art-card .art-image {
    height: 200px;
}

.article-part2 .art-descr p {
    line-height: 1.4;
}

.article-part2 .art-card span {
    font-size: 13px;
}